
$color-1: #FBEEC1; // light sand
$color-2: #BC986A; // sand
$color-3: #8D8741; // seaweed
$color-4: #659DBD; // light blue
$color-5: #003366; // dark blue


// additional colors

$success: #DAAD86; // coral
$alert: $color-3; // seaweed